@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');
@import url('./variables/_colors.css');
@import url('./variables/_text.css');

:root {
    --layout-height: 5rem;
}

*, html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: var(--common-size);
    font-weight: var(--regular);
    transition: all .3s ease;
}

body {
    background: var(--colorWhite);
}

a {
    color: var(--colorWhite);
    text-decoration: none;
}

.wrapper {
    box-sizing: border-box;
    padding: 2rem;
    min-width: 100%;
    min-height: calc(100vh - var(--layout-height) * 2);
    flex-direction: column;
}

/* COMMON */

.center__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round {
    border-radius: 50%;
}

/* LAYOUT */

header, footer {
    color: var(--colorWhite);
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: var(--layout-height);
    background: var(--colorDarkMain);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

header nav {
    display: flex;
    height: 100%;
}

header nav a {
    box-sizing: border-box;
    font-size: var(--medium);
    padding: 0 2rem;
    height: 100%;
    line-height: var(--layout-height);
    border-bottom: 0 solid var(--colorWhite);
}

header nav a:hover, header nav a.active {
    border-bottom-width: .5rem;
    background: var(--colorMain);
}

.logo {
    box-sizing: border-box;
    padding: .5rem 1rem;
    font-size: var(--big);
    font-weight: var(--bold);
    border-radius: 1rem;
    border: 3px solid var(--colorMain);
    color: var(--colorDarkMain);
    background-color: var(--colorWhite);
}

.logo:hover {
    color: var(--colorWhite);
    background-color: var(--colorMain);
    border-color: var(--colorWhite);
}